/************ Common layout throughout multiple questions. **************/
body{
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	width: 900px;
	font-family: Calibri;
}

#maincontent {
	
}

#currentpage .tab
{
	background-color: black;
	height: 60px;
	padding: 5px;
}

#topbanner {		/* Incognito logo (and its div) */
	text-align:left;
	font-size: 12pt;
	font-weight: bold;
	font-family: Tahoma,Verdana, sans-serif;
}

#greeting {		/* Greeting to teacher/student */
	float: right;
	text-align: right;
	font-size: 12px;
}

#navigation {	/* Navigation bar */
	background-color: #A00000; 
	text-align: left;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 20px;
}

ul {		/* For unordered lists */
	list-style-type:none;
	margin:0;
	padding:0; 
	float:left;
}

li { 		/* For list items */
	display:inline;
	width: 150px;
}

.tab, #timeline 		/* Tabs (in the navigation bar including "View Timeline" */
{
	color:white;
	font-size: 30px;
	font-family: Calibri;
	text-shadow: 0.01em 0.01em 0.2em #585858;
}

#timeline { 		/* Timeline-specific formatting */
	float:right;
	font-size: 23px;
	text-decoration: underline;
	margin-right: 10px;
}

#filterandsort, #sortingby, #filteringby, {		/* Filter By and Sorting features */
	float: left;
	margin-right: 20px;
	vertical-align: bottom;
} 

.nonSubCol, .surveyCol {		/* 1st & 3rd columns for Teacher & Student feed*/
	width: 100px;
	float:left;
	text-align:center;
}

#subCol,#surveyQuestCol {	/* 2nd column: Teacher & Student feed*/
	width:650px;
	float: left;
	text-align:left;
}

hr {		/* Horizontal bar */
	clear: both;
	color: #E8E8E8;
}

textarea {
	resize: none;
	text-align: left;
}

button, .loginType {
	background-color: #FFCCCC;
	font-family: Calibri;
	font-weight: bold;
	border: 2px outset #A00000;  
	font-size: 13pt;
}

/************ Teacher pages **************/

#feedbox, #blankfeed {		/* Teacher feed */
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Calibri;
}

#blankfeed {		/* Blank feed */
	font-style:italic;
}

#surveyQuestCol {
	width:650px;
	margin-left: 15px;
}

.surveyCol {
	width: 70px;
}

span {
	margin-left: 20px;
}

#createSurveyArea {
	border: 1px dotted #A8A8A8;
	padding: 5px;
}

.surveyHidden {
	display: none;
}

#createSurvey {
	margin-left: 20px;
	margin-bottom: 30px;
}

#feedTable td.checked
{
  text-align:center;
  width:120px;
}

#feedTable td.feed
{
  text-align:left;
  width:650px;
}

#feedTable td.votes
{
  text-align:center;
  width:87px;
}

#feedTable tr.alt td 
{
  color:#000000;
  background-color:#EAF2D3;
}

/************ Links **************/

a {	/* Customizing link appearance */
	border-style: none;
	text-decoration: none;
	color: #A00000;
}

a:hover {	/* Link hover rule */
	text-decoration: underline;
}

.bottomlinks {	/* Link at bottom of every page */
	margin-top: 40px;
	clear: both;
	bottom: 0;
	margin-bottom: 0px;
	text-align: center;
	width: 900px;
	background-color:white;
}



/************ Student Home **************/

#submitbutton{
	float: right;
}

#homebox {
	width: 300px;
}

#submissioncontent {
	width: 80ems;
	margin: auto;
}

#typeAreaHome, #typeAreaFeed, #createSurveyArea, #submitbuttondiv{
	width: 660px;
	margin: auto;
	padding-bottom: 10px;
}

/************ Student Feed *************/

#typeAreaFeed, #createSurveyArea {  /* create survey is also in teacher page*/
	margin: auto;
	margin-bottom: 20px;
}

/************ Log In Page **************/
.logincontent{
	width: 200px;
	margin: auto;
}

#loginbutton  {
	float: right;
}

.logintext {
	font-size: 20pt;
}



